* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #585757;
}

header .logo{
    position: relative;
    max-width: 80px;
    margin-top: 90px;
    margin-left: 20%;
}

header .about {
    gap: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 51%, rgba(71,71,71,1) 100%);
    font-size: 22px;
    display: flex;
    padding: 15px;
    padding-left: 45%;
}

header .about a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .about a:hover {
    color: #585757;
}

header .about-team {
    justify-items: center;
    font-size: 35px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 51%, rgba(71,71,71,1) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 80px;
    padding-left: 11%;
}

header .about-team a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 45px;
    gap: 15px;
    
}

header .about-team a:hover {
    color: #585757;
}

section {
    height: 100vh; 
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(23,23,23,0.9) 51%, rgba(71,71,71,1) 100%), url('img/Novo_Projeto.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

section h1 {
    padding-left: 15%;
    font-size: 35px;
}

section .comeco {
    padding-top: 20%;
}

section .meio {
    padding-bottom: 3%;
    padding-top: 3%;
}